
body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.array-container{
    display: flex;
    justify-content: center;
}
.array-bar{
    /* padding: 50px; */

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
     width: 90%;
    /* height: 50px;  */
    background-color: rgb(39, 65, 214);
    margin: 0 2px;
}

.header{
    width: 100%;
    background-color: black;
    display: flex;
    height: 50px;

} 


